@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

/* Body padding to account for fixed navbar */
body {
    padding-top: 64px; /* 4rem = 64px для fixed navbar */
    font-family: 'Rubik', sans-serif;
}

* {
    font-family: 'Rubik', sans-serif;
}